<html>
    <head>
        
        <title><%=(locals.title) ? title :''%></title>
    
    </head>
    <body>
    
        <h2>Hello world<h2>
		<a href="/customers"> customer list </a>
    </body>

</html>
